@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.header {
  height: 65px;
  width: 100%;
  background-color: #a8a78a;
}
.header .p_head {
  position: absolute;
  font-size: 22px;
  left: 465px;
  top: 18px;
}
.header #in {
  position: absolute;
  left: 700px;
  top: 14px;
  height: 32px;
  width: 400px;
  border: 2px solid orange;
  background: transparent;
  border-radius: 5px;
}
.header ::-moz-placeholder {
  color: black;
  position: absolute;
  left: 10px;
}
.header ::placeholder {
  color: black;
  position: absolute;
  left: 10px;
}
.header .button {
  color: white;
  position: absolute;
  height: 32px;
  width: 200px;
  top: 14px;
  left: 1130px;
  background-color: orange;
  border: 1px solid orange;
  cursor: pointer;
}

.body {
  position: relative;
  top: 20px;
  left: 380px;
  height: 800px;
  width: 1100px;
  background-color: white;
}
.body .p {
  position: absolute;
  color: orange;
  top: 30px;
  font-size: 35px;
}
.body .par {
  position: absolute;
  top: 80px;
}
.body .b1 {
  position: absolute;
  top: 80px;
  left: 808px;
  height: 40px;
  width: 70px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.body .b2 {
  position: absolute;
  top: 80px;
  left: 882px;
  height: 40px;
  width: 70px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.body .b3 {
  position: absolute;
  top: 80px;
  left: 956px;
  height: 40px;
  width: 70px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.body .b4 {
  position: absolute;
  top: 80px;
  left: 1030px;
  height: 40px;
  width: 70px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.body .images {
  padding: 10px;
}
.body .images .image {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}
.body .images .image li {
  height: 255px;
  width: 225x;
  position: relative;
  top: 160px;
}
.body .images .image li img {
  position: relative;
  top: 0px;
  height: 200px;
  width: 200px;
}
.body .images .image li .dis {
  position: absolute;
  left: 50px;
  bottom: 0px;
}
.body .b5 {
  position: absolute;
  bottom: 24px;
  left: 500px;
  height: 40px;
  width: 150px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 500px;
  background-color: #a8a78a;
  position: relative;
  top: 10px;
}
.footer .image img {
  position: absolute;
  height: 500px;
  width: 50%;
}
.footer .dis {
  position: relative;
}
.footer .dis #p1 {
  position: absolute;
  font-size: 30px;
  padding-top: 80px;
  left: 1065px;
}
.footer .dis #b0 {
  position: absolute;
  top: 150px;
  left: 1065px;
  height: 40px;
  width: 150px;
  color: orange;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
}
.footer .dis #b0 {
  font-size: 25px;
}
.footer .dis #p2 {
  position: absolute;
  top: 220px;
  left: 56%;
  right: 20px;
}
.footer .dis #b1 {
  position: relative;
  top: 420px;
  left: 1065px;
  height: 40px;
  width: 150px;
  background: transparent;
  border: 2px solid #ccae39;
}
.footer .dis #b1 {
  font-size:  20px;
}/*# sourceMappingURL=style.css.map */